
{% load static %}
<!DOCTYPE html>
<head>
<title>Login form Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Registration / Login form Responsive Widget, Login forms,Flat Pricing tables,Flat Drop downs  Sign up Web forms, Login sign up Responsive web Forms," />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //font -->
<!-- bootstrap-css -->
	<link href={% static "css/bootstrap.css"%} rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href={% static "css/style.css"%} type="text/css" media="all" />
	<!--// css -->
	<link rel="stylesheet" href={% static "css/owl.carousel.css"%} type="text/css" media="all">
	<!-- font-awesome icons -->
	<link href={% static "css/font-awesome.css"%} rel="stylesheet">
	<!-- //font-awesome icons -->
	<!-- font -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:200,200i,300,400,400i,500,600,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<!-- //font -->
	<!-- light-box -->
	<link rel="stylesheet" href={% static "css/poposlides.css"%}>
	<!-- //light-box -->
    <!-- Custom CSS -->
<link href={% static "css/style1.css" %} rel='stylesheet' type='text/css' />
<!-- font CSS --><!--
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">-->
<link href="//fonts.googleapis.com/css?family=Signika:300,400,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
<!--font CSS-->
<script src={% static "js/jquery2.0.3.min.js" %}></script>

</head>
<body class="dashboard-page">
<div class="main_agileits" id="page">
		<div class="agile_wthree_nav">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					<h1><a class="navbar-brand" href="index.html"><span><i class="fa fa-magic" aria-hidden="true"></i></span>PySmartO</a></h1>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-8" id="link-effect-8">
						<ul class="nav navbar-nav">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="/SMART_FIRM_APP/about">About</a></li>
                            <li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/SMART_FIRM_APP/loginPage">Leave Service</a></li>
									<li><a href="/SMART_FIRM_APP/loginPage">Conference Call Service</a></li>
                                    <li><a href="/SMART_FIRM_APP/EMPworkingWeekend">Working Weekend Service</a></li>
                                    <li><a href="/SMART_FIRM_APP/loginPage">Transportation Service</a></li>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Registration<b class="caret"></b></a>
								<ul class="dropdown-menu agile_short_dropdown">
									<li><a href="/SMART_FIRM_APP/registrationPage">Employee Registration</a></li>
									<li><a href="/SMART_FIRM_APP/otherRegistrationPage">Manager Registration</a></li>
								</ul>
							</li>
							<li><a href="/SMART_FIRM_APP/loginPage">Login</a></li>
						</ul>
					</nav>
				</div>

                <div class="main-grid">
                    <div class="agile-grids">
                        <!-- validation -->
                        <div class="grids">
                            <div class="progressbar-heading grids-heading">
                                <h2>DAILY Task SERVICE</h2>
                            </div>
                            <div class="forms-grids">
                                <div class="forms3">
                                    <div class="w3agile-validation w3ls-validation">
                                        <div class="panel panel-widget agile-validation register-form">
                                            <div class="validation-grids widget-shadow" data-example-id="basic-forms">
                                                <div class="input-info">
                                                    <h3>Give details about today's task :</h3>
                                                </div>
                                                <div class="form-body form-body-info">
                                                    <form data-toggle="validator" action="/SMART_FIRM_APP/EMP_daily_task" method="POST">
                                                        <div class="form-group valid-form">
                                                            <input type="text" class="form-control" id="taskName" name="Taskname" placeholder="Task name" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" name="Projectname" placeholder="Project Name" required="">
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="help-block">Select Department</span>
                                                            <select type="text" name="eDepartment" id="Department">
                                                                {% for i in rows %}
                                                                    <option value="{{ i.0 }}">{{ i.1 }}</option><br>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea rows=7 class="form-control" name="Description" placeholder="Description" required=""></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" id="terms" data-error="Before you wreck yourself" required="">
                                                                    I have read and accept terms of use.
                                                                </label>
                                                                <div class="help-block with-errors"></div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-primary disabled">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                            </div>
                        </div>
        <!-- //validation -->
                <!-- footer -->
                <div class="footer">
                    <p>© 2016 Login form . All Rights Reserved . Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
		<!-- //footer -->
			</div>
		</div>

	<script src={% static "js/jquery-2.1.4.min.js"%}></script>
	<script src={% static "js/search.js"%}></script>
	<script src={% static "js/poposlides.js"%}>
	</script>
	<script>
		$(".slides").poposlides();
	</script>
		<!-- js for portfolio lightbox -->
	<script src={% static "js/jquery.chocolat.js"%}></script>
	<link rel="stylesheet " href={% static "css/chocolat.css"%} type="text/css" media="screen ">
	<!--light-box-files -->
	<script type="text/javascript ">
		$(function () {
			$('.portfolio-grids a').Chocolat();
		});
	</script>
	<!-- /js for portfolio lightbox -->
	<!-- stats -->
	<script src={% static "js/jquery.waypoints.min.js"%}></script>
	<script src={% static "js/jquery.countup.js"%}></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats -->
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src={% static "js/move-top.js"%}></script>
	<script type="text/javascript" src={% static "js/easing.js"%}></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smooth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->


	<!-- carousel -->
	<script src={% static "js/owl.carousel.js"%}></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 1,
				itemsDesktop: [768, 1],
				itemsDesktopSmall: [414, 1],
				lazyLoad: true,
				autoPlay: true,
				navigation: true,x`

				navigationText: false,
				pagination: true

			});

		});
	</script>
	<!-- //carousel -->
	<script src={% static "js/bootstrap.js"%}></script>
		<!-- input-forms -->


		<script type="text/javascript" src={% static "js/valida.2.1.6.min.js" %}></script>
		<script type="text/javascript" >

			$(document).ready(function() {

				// show Valida's version.
				$('#version').valida( 'version' );

				// Exemple 1
				$('.valida').valida();

				// Exemple 2
				/*
				$('.valida').valida({

					// basic settings
					validate: 'novalidate',
					autocomplete: 'off',
					tag: 'p',

					// default messages
					messages: {
						submit: 'Wait ...',
						required: 'Este campo é obrigatório',
						invalid: 'Field with invalid data',
						textarea_help: 'Digitados <span class="at-counter">{0}</span> de {1}'
					},

					// filters & callbacks
					use_filter: true,

					// a callback function that will be called right before valida runs.
					// it must return a boolan value (true for good results and false for errors)
					before_validate: null,

					// a callback function that will be called right after valida runs.
					// it must return a boolan value (true for good results and false for errors)
					after_validate: null

				});
				*/

        // setup the partial validation
				$('#partial-1').on('click', function( ev ) {
					ev.preventDefault();
					$('#res-1').click(); // clear form error msgs
					$('form').valida('partial', '#field-1'); // validate only field-1
					$('form').valida('partial', '#field-1-3'); // validate only field-1-3
				});

			});

		</script>
		<!-- //input-forms -->
		<!--validator js-->
		<script src={% static "js/validator.min.js" %}></script>
		<!--//validator js-->
</body>
</html>