<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3>
    SMART FIRM is the project title which will be basically a web application and which will be made in python language. This web app is for any company (mainly IT based). The web app will help the company with very smart featur*es which are the time saver and mainly for easy work done in the company. By the help of this website, e-mail with an attachment, SMS integration, video conference call for a meeting, post for something, Daily work sheet upload and view and canteen food order will be done in this SMART FIRM project.
</h3>
</body>
</html>